<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="greenZoneCost" value="5.607" />
    <add key="blueZoneCost" value="8.415" />
    <add key="redZoneCost" value="16.820" />
    <add key="greenZoneUpperLimit" value="350" />
    <add key="blueZoneUpperLimit" value="1600" />
  </appSettings>
</configuration>